# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
**/.next/
/UI/out/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/tmp
.idea
.vscode

bin/flatten.sh

# Solidity
/cache
/artifacts
/artifacts-forge
/cache-forge
/cache_hardhat
out/

dist
node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files: no longer ignored because it's used in amplify pipeline, and we don't want to re-compile everything there
#/typechain
#/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
CLAUDE.local.md
cache_hardhat/validations.json
cache_hardhat/solidity-files-cache.json
