* text eol=lf
# Prevent line-ending conversion for common image files
*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.webp binary
*.svg -text
*.ttf binary
*.woff binary
*.woff2 binary
*.eot binary
*.mp4 binary
